body{
    background-color: black;
}

header{
    font-weight: bold;
    margin-bottom: 0.6250em;
}

h2{
    font-weight: 400;
    line-height: 1.75em;
}

#main_body_wrapper{
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1%;
    a{
        text-decoration: underline;
        color: white;
    }
    .content{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        row-gap: auto;
        h1{
            text-align: center;
            grid-row: 1;
        }
        .acknowledgements{
            grid-row: 2;
            
            .acknowledgements_list{
                display: grid;
                grid-template-columns: 32.6% 65.3%;
                grid-template-rows: auto auto auto auto;
                column-gap: 2%;
                .col1{
                    grid-column: 1;
                    text-align: right;
                }
                .col2{
                    grid-column: 2;
                    
                }
                #c1r1{
                    grid-row: 1;
                }
                #c1r2{
                    grid-row: 2;
                }
                #c1r3{
                    grid-row: 3;
                }
                #c1r4{
                    grid-row: 4;
                }
                #c2r1{
                    grid-row: 1;
                }
                #c2r2{
                    grid-row: 2;
                }
                #c2r3{
                    grid-row: 3;
                }
                #c2r4{
                    grid-row: 4;
                }
            }
        }
        .references{
            grid-row: 3;
            grid-column: 1 / span 2;
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    #main_body_wrapper{
        max-width: 100%;
        height: auto;
        margin-left: 5%;
        overflow: hidden;
        position: relative;
        margin-bottom: 1%;
        margin: 0;
        a{
            text-decoration: underline;
            color: white;
        }
    }
}
