body{
    background-color: black;
}

header{
    font-weight: bold;
    margin-bottom: 0.6250em;
}

h2{
    font-weight: 400;
    line-height: 1.75em;
}

#main_body_wrapper{
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1%;
    background-image: url(../img/flight_school_tablet.jpg);
    background-repeat:space;
    background-size: cover;
}

.title{
    height: inherit;
    text-align: center;
    padding: 2em;
    padding-top: 1%;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
    background:rgba(0,0,0,0.6);
    .show_prices{
        display: none;
    }
    #trade_price_list{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 7;
        li{
            list-style-type: disc;
            list-style-position: inside;
        }
    }
}

@media screen and (max-width: 768px)
{
    
    #main_body_wrapper{
        max-width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-bottom: 1%;
        margin: 0;
        background-image: url(../img/hangar_mobile.jpg);
        background-repeat:unset;
        background-size: cover;
        background-position: center;
    }
    
    .title{
        height: inherit;
        text-align: center;
        padding: 1em;
        padding-top: 1%;
        opacity: 100%;
        color:white;
        z-index: 2;
        position: relative;
        background:rgba(0,0,0,0.6);
        .show_prices {
            display: block;
        }
        #trade_price_list{
            // display: grid;
            // grid-template-columns: 50% 50%;
            // grid-template-rows: 7;
            // grid-gap: 0.5em;
            // li{
            //     list-style-type: disc;
            //     list-style-position: inside;
            // }
                display: none;
        }
    }    
}