body{
    background-color: black;
}

header{
    font-weight: bold;
    margin-bottom: 0.6250em;
}

h2{
    font-weight: 400;
    line-height: 1.75em;
}

//  .bg{
//     opacity: 100%;
//     position: relative;
//     width: 100%;
//     left:0;
//     right:0;
//     top: 0;
//     bottom: 0;
//     height: auto;
//     z-index: 1;
//     filter: brightness(30%);
// }

#main_body_wrapper{
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1%;
    background-image: url(../img/desktop_veh_cargo_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    text-align: center;
    padding: 2em;
    padding-top: 1%;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
    background:rgba(0,0,0,0.6);
}

@media screen and (max-width: 768px) {
    #main_body_wrapper{
        max-width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-bottom: 1%;
        margin: 0;
        background-image: url(../img/vehicle_cargo_mobile.jpg);
        background-repeat:unset;
        background-size: cover;
        background-position: center;
    }
    
    .title{
        height: inherit;
        text-align: center;
        padding: 1em;
        padding-top: 1%;
        opacity: 100%;
        color:white;
        z-index: 2;
        position: relative;
        background:rgba(0,0,0,0.6);
    }
}