body{
    background-color: black;
}

.main_body_wrapper{
    width: 90%;
    height: 1080px;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
}

.bg{
    opacity: 0.6;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    width: 100%;
    height: auto;
}

.overview{
    text-align: center;
    padding: 10px;
    opacity: 100%;
    color:lightblue;
}