body{
    background-color: black;
}

header{
    font-weight: bold;
}

h2{
    font-weight: 400;
}

.main_body_wrapper{
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
    margin-bottom: 2.5%;
}

.bg{
    opacity: 100%;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    filter: brightness(30%);
}

.overview{
    text-align: center;
    padding: 10px;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
}
.ceo_intro{
    text-align: center;
    padding: 10px;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
}

.mc_intro{
    text-align: center;
    padding: 10px;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
}

.both_intro{
    text-align: center;
    padding: 10px;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
}