body{
    background-color: black;
}

header{
    font-weight: bold;
    margin-bottom: 0.6250em;
}

h2{
    font-weight: 400;
    line-height: 1.75em;
}

#main_body_wrapper{
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
    background-image: url(../img/gta_online_business_bg.jpg);
    background-size: contain;
}

.content{
    background:rgba(0,0,0,0.6);
}

// .bg{
//     opacity: 100%;
//     position: absolute;
//     left:0;
//     right:0;
//     top: 0;
//     width: 100%;
//     height: auto;
//     z-index: 1;
//     filter: brightness(30%);
// }

.overview{
    text-align: center;
    padding: 0.6250em;
    padding-top: 3%;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
}
.ceo_intro{
    text-align: center;
    padding: 0.6250em;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
}

.mc_intro{
    text-align: center;
    padding: 0.6250em;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
}

.both_intro{
    text-align: center;
    padding: 0.6250em;
    opacity: 100%;
    color:white;
    z-index: 2;
    position: relative;
}