/*generic full page settings*/
body, html{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-weight: normal;
}

/*nav dropdown container for positioning*/
.dropdown{
    position: relative;
    display: inline-block;
    /*button for the dropdown*/
    .dropdown_button{
        background-color: grey;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        /*container dropdown items*/
        .dropdown-content{
            display:none;
            position:absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            /*dropdown links*/
            .dropdown-content a{
                color:black;
                padding:12px 16px;
                text-decoration: none;
                display: block;
            }
            /*dropdown links rollover*/
            .dropdown-content a:hover {
                background-color: #ddd;
            }

            /*dropdown on button rollover*/
            .dropdown:hover .dropdown-content {
                display: block;
            }
        }
    }
}